#################################################
# .gitignore file used to maintain a clean repo #
#################################################

###################
# Eclipse files
###################
.classpath
.project
.settings/

###################
# Gedit files
###################
*.*~

###################
# Maven files
###################
target/

###################
# Vim files
###################
*.swp
*.swo
*.swn
.vim

###################
# Production files
###################
*.prod.xml
*.prod.sh
*.prod.properties

###################
# Others
###################
${cache.path}/
