<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="    http://www.springframework.org/schema/beans 
                            http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
			                http://www.springframework.org/schema/context 
			                http://www.springframework.org/schema/context/spring-context-2.5.xsd"
>

    <!-- ////////////////////////// -->
    <!-- ANNOTATIONS PROCESSING -->
    <!-- ////////////////////////// -->
    <bean   id="requiredAnnotationBeanPostProcessor" 
            class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor" />
            
    <!-- ////////////////////////// -->
    <!-- IMPORTS -->
    <!-- ////////////////////////// -->
    
    <!-- web-springmvc-servlet -->
    <import resource="classpath:properties/cache/cache.xml" />
    <import resource="classpath:properties/i18n/i18n.xml" />
    
    <!-- domain-services -->
    <import resource="classpath*:META-INF/indicators-domain-services-auth.xml"/>     
    <import resource="classpath*:META-INF/indicators-domain-services-data-form.xml" />   
    <import resource="classpath*:META-INF/indicators-domain-services-domain.xml"/>    
    <import resource="classpath*:META-INF/indicators-domain-services-ldap.xml"/>
    <import resource="classpath*:META-INF/indicators-domain-services-establishment.xml"/>
    <import resource="classpath*:META-INF/indicators-domain-services-manager.prod.xml"/>
    <import resource="classpath*:META-INF/indicators-domain-services-permissions.xml"/>
    <import resource="classpath*:META-INF/indicators-domain-services-statistic.xml"/>
    <import resource="classpath*:META-INF/indicators-domain-services-user.xml"/>
    
    <!-- dao -->
    <import resource="classpath*:META-INF/indicators-dao-dao.xml"/>
    
    <!-- ////////////////////////// -->
    <!-- PROPERTIES -->
    <!-- ////////////////////////// -->
    <bean id="propertyConfigurer"
        class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
               <value>classpath:properties/defaults.prod.properties</value>
               <value>classpath:properties/config.prod.properties</value>
            </list>
        </property>
    </bean>
    
    <!-- ////////////////////////// -->
    <!-- BEANS -->
    <!-- ////////////////////////// -->
    <bean   id="accountValidator" 
            class="org.esco.indicators.web.springmvc.validator.account.AccountValidator" />
            
	<bean   id="establishmentAccountValidator" 
	        class="org.esco.indicators.web.springmvc.validator.account.EstablishmentAccountValidator" />
	     
   <bean   id="establishmentServiceValidator" 
           class="org.esco.indicators.web.springmvc.validator.service.EstablishmentServiceValidator" />     
	            
    <bean   id="basicServiceValidator" 
                class="org.esco.indicators.web.springmvc.validator.service.BasicServiceValidator" />
                
    <bean   id="serviceValidator" 
            class="org.esco.indicators.web.springmvc.validator.service.ServiceValidator" />            
            
    <bean   id="welcomeController"
            class="org.esco.indicators.web.springmvc.controller.WelcomeController"
            scope="session">
    </bean>
    
    
    <!--  For the download controller -->
   <bean   id="charset" 
            class="java.lang.String">
            <constructor-arg value="UTF-8"/>
    </bean>
    <bean   id="contentTypesByExtension" 
            class="java.util.HashMap">
            <constructor-arg>
                <map>
                    <entry key="csv">
                        <value>text/csv</value>
                    </entry>
                    <entry key="xls">
                        <value>application/vnd.ms-excel</value>
                    </entry>
                </map>
            </constructor-arg>
    </bean>
    <bean   id="defaultContentType" 
            class="java.lang.String">
            <constructor-arg value="application/force-download"/>
    </bean>

</beans>
