/**********************************************************
* CSS made for the indicators application
***********************************************************
*
* File organization :
* -------------------
*		0. General configuration
*   1. Welcome page
*   2. Accounts activations page
*   3. Services page
*   4. Services usage page
*
**********************************************************/

/****************************
* 1. GENERAL CONFIGURATION
****************************/
div {
	clear: both;
}

/****************************
* 1. WELCOME PAGE
****************************/
div.welcome {
  width: 100%;
}


/****************************
* 3. SERVICES PAGE
****************************/

ul.connectedServices {
	width: 40%;
	border:1px solid black;
	list-style-type: none; 
	margin: 0; 
	padding: 0 0 2.5em; 
	float: left; 
	margin-right: 10px;
}

ul.connectedServices li {
	border:1px solid black;
	list-style: none;
 	margin: 0 5px 5px 5px; 
	padding: 5px; 
	width: 120px;
}
