/**********************************************************
* CSS made for the indicators application
***********************************************************
*
* File organization :
* -------------------
*		0. General configuration
*   1. Welcome page
*   2. Accounts activations page
*   3. Services page
*   4. Services usage page
*
**********************************************************/

/****************************
* 1. GENERAL CONFIGURATION
****************************/

/****************
* Basic elements 
****************/
a {
	text-decoration: none;
}

div {
	clear: both;
}

h1 {
	margin: 0;
	padding: 0.5em 0.5em 0 0.5em;
}

h2 {
	font-size: 1.4em;
}

h3 {
	font-size: 1.2em;
}

tr:hover {
    background : #666666 !important;
}  

ul {
	margin: 0;
}

/************** 
* Identifiers 
**************/
#ariadneThread hr {
	margin: 0.5em 0 0 0;
}

#ariadneThread p {
	margin: 0.4em 0 0.4em;
}

#datePickerSpace {
	height: 180px;
}

#establishmentsListContainer {
  height: 25%;
	margin: 0;
  overflow: auto;
  width: 100%;
}

#menu {
  background: none repeat scroll 0 0 #C3C9CD;
  border: 1px solid #000000;
	height: 4.5em;
	padding: 0.5em;
}

#menu div { 
    display: inline;
    margin-right: 20px;
    position: relative;
    top: 40px;
}   
    
#menu p {
    display: inline;
    background-origin: content-box;
    background-position: center; 
    background-position: 50% -32px;
    background-repeat: no-repeat;
    background-size: 32px 32px;
    padding-top: 40px;
}   


#menu p:hover {
	background-color: #666666;
}

#menu li { 
	display: inline;
}

#mainMessage p {
	font-size: 24;
	color: #666666;
	margin: 0 0 0.7em;
}

#resultTable {
	box-shadow: 6px 6px 6px #777777;
    overflow-x: scroll;
}

#user {
	background: none repeat scroll 0 0 #666666;
	color: #FFFFFF;
	padding: 0.5em 0 0 1.5em;
}

/*********
* Classes 
*********/
.container {
	font:  12px/1.2 Georgia,Serif;
	margin: 1em auto;
    width: 97%;
}

.filterTitle {
	background: none repeat scroll 0 0 #4366AC;
	border: none;
	color: white;
  margin: 0.5em 0 0.5em;
  padding: 0 0 0 15px;
}

.filterErrors {
	margin: 1.3em;
}

.filterOptions {
	margin: 1.3em;
}

.subFilterTitle {
	background: none repeat scroll 0 0 #7385AB;
	border: none;
	color: white;
	font-style: italic;
  margin: 0.5em 0 0;
  padding: 0.2em 0 0.2em 1.3em;
}

form.export {
	display: inline;
}

img.ui-datepicker-trigger {
    cursor: pointer;
	vertical-align: middle;
	margin: 0.5em;
}

input.hasDatePicker {
	vertical-align: middle;
}

input.submitButton {
    float: right;
}

table.pretty {
	border-collapse: collapse;
	border-spacing: 0.1em;
}  

table.pretty th, table.pretty td {
	border: 1px dotted black;
	padding: 0.2em;
}
table.pretty th {
	background: gainsboro;
  text-align: left;
}

table.pretty tr:nth-child(even) {
	background: gainsboro;
} 


/****************************
* 1. WELCOME PAGE
****************************/
div.welcome {
  width: 100%;
}


/****************************
* 3. SERVICES PAGE
****************************/

p.information {
	color: gray;
	font-style: italic;
	margin-top: 50%;
	text-align: center;
}

.simpleService {
	margin-left: 1.5em;
}

.sumService {
	
}

ul.connectedServices {
	width: 40%;
	border:1px solid black;
	list-style-type: none; 
	margin: 0; 
	padding: 0 0 2.5em; 
	float: left; 
	margin-right: 10px;
}

ul.connectedServices li {
    cursor: pointer;
	list-style: none;
 	margin-bottom: 0.4em; 
	margin-top: 0.4em;
	padding: 0.3em; 
}
