/**********************************************************
* CSS made for the indicators application
***********************************************************
*
* File organization :
* -------------------
*		0. General configuration
*   1. Welcome page
*   2. Accounts activations page
*   3. Services page
*   4. Services usage page
*
**********************************************************/

/****************************
* 1. GENERAL CONFIGURATION
****************************/

/****************
* Basic elements 
****************/
div {
	clear: both;
}

h1 {
	margin: 0;
	padding: 0.5em 0.5em 0 0.5em;
}

h2 {
	font-size: 1.4em;
}

h3 {
	font-size: 1.2em;
}

ul {
	margin: 0;
}

a {
	text-decoration: none;
}


/************** 
* Identifiers 
**************/
#ariadneThread hr {
	margin: 0.5em 0 0 0;
}

#ariadneThread p {
	margin: 0.4em 0 0.4em;
}

#menu {
	background: none repeat scroll 0 0 #666666;
	padding: 1.5em 20% 1em;
}

#menu li { 
	display: inline ; 
	padding: 10px 20px;
	background: #dee;
	border: 2px groove #080;
	/* 
  	border-radius: 10px;
		-moz-border-radius: 10px;
	*/
}

#menu li:hover { 
	background: #afa;
}

#mainMessage p {
	font-size: 24;
	color: #666666;
	margin: 0 0 0.7em;
}

#user {
	background: none repeat scroll 0 0 #666666;
	color: #FFFFFF;
	padding: 0.5em 0 0 1.5em;
}

/*********
* Classes 
*********/
.filterTitle {
	background: none repeat scroll 0 0 #4366AC;
	border: none;
	color: white;
  margin: 0.5em 0 0.5em;
  padding: 0 0 0 15px;
}

.filterErrors {
	margin: 1.3em;
}

.filterOptions {
	margin: 1.3em;
}

table.pretty {
	box-shadow: 6px 6px 6px #777777;
	border-collapse: collapse;
}  

table.pretty th, table.pretty td {
	border: 1px gainsboro solid;
	padding: 0.2em;
}
table.pretty th {
     background: gainsboro;
      text-align: left;
  }

table.pretty tr:nth-child(even) {
	background: gainsboro;
} 

.subFilterTitle {
	background: none repeat scroll 0 0 #7385AB;
	border: none;
	color: white;
	font-style: italic;
  margin: 0.5em 0 0;
  padding: 0.2em 0 0.2em 1.3em;
}

/****************************
* 1. WELCOME PAGE
****************************/
div.welcome {
  width: 100%;
}


/****************************
* 3. SERVICES PAGE
****************************/

.simpleService {
	margin-left: 1.5em;
}

.sumService {
	
}

ul.connectedServices {
	width: 40%;
	border:1px solid black;
	list-style-type: none; 
	margin: 0; 
	padding: 0 0 2.5em; 
	float: left; 
	margin-right: 10px;
}

ul.connectedServices li {
	list-style: none;
 	margin-bottom: 0.4em; 
	margin-top: 0.4em;
	padding: 0.3em; 
}
